body{

margin:0;

font-family:
"Segoe UI",
sans-serif;

background:#0f172a;

color:white;

}



.dashboard{

padding:40px;

}



h1{

font-size:40px;

}



.subtitle{

color:#94a3b8;

}



.cards{


display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));


gap:25px;

margin-top:30px;

}




.card{


background:#1e293b;

padding:25px;

border-radius:18px;

box-shadow:
0 10px 30px rgba(0,0,0,.3);

}




.icon svg{

width:35px;

height:35px;

}




.chart-box,
.table-box{


background:#1e293b;

padding:30px;

margin-top:35px;

border-radius:18px;


}




table{

width:100%;

border-collapse:collapse;

}



th,td{

padding:15px;

text-align:left;

}



tr{

border-bottom:
1px solid #334155;

}



.danger{

background:#ef4444;

padding:6px 12px;

border-radius:20px;

}



.safe{

background:#22c55e;

padding:6px 12px;

border-radius:20px;

}




.loader{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

}



.loader div{

width:50px;

height:50px;

border:5px solid #334155;

border-top-color:white;

border-radius:50%;

animation:spin 1s linear infinite;

}



@keyframes spin{


to{

transform:rotate(360deg);

}


}